body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
i,
b,
textarea,
button,
input,
select {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Helvetica';
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background: #fff;
  margin: 0;
  border: none;
  color: #333;
  -webkit-overflow-scrolling: touch;
}

button,
a {
  cursor: pointer;
  outline: none;
}

/* antd全局样式 */
#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.ant-menu-item {
  height: 40px !important;
  line-height: 40px !important;
  font-size: 18px !important;
}

.ant-menu-item.ant-menu-item-only-child {
  padding-left: 0 !important;
  text-align: center;
}
